//breakpoints
$mobile-breakpoint: 767px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

//Weights for fonts
$weight-normal: 400;
$weight-demi: 600;
$weight-bold: 700;

// Primary Colours
$color-black: #0C1E1A;
$color-forest-green: #1E6655;
$color-forest-green-dark: #49675A;
$color-pistachio: #EFFAF7;
$color-error: #B10606;

// Secondary Colours
$color-sea-green: #B7CEC9;
$color-sage: #E4EFEC;
$color-snaps-white: #FFFFFF;