@use "../../styles/partials/_mixins.scss" as *;
@use "../../styles/partials/_variables.scss" as *;

.photo-list {
    display: grid;
    gap: 1.5rem;
    padding: 1.5rem;
    
    @include mobile {
        grid-template-columns: 1fr;
    }

    @include tablet {
        grid-template-columns: repeat(2, 1fr);
    }

    @include desktop {
        grid-template-columns: repeat(3, 1fr);
    }
}