@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: $color-pistachio;
    padding: 2rem;

    @include tablet {
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    @include desktop {
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__logo {
        font-family: 'Newsreader';
        @include font-style(2rem, 500, 1rem);
        color: $color-black;
        text-align: left;
        padding-bottom: 2rem;
    }

    &__resources{
        font-family: 'Outfit';
        @include font-style(1.125rem, 500, 1.4375rem);
        color: $color-black;
        text-align: left;

        ul {
            padding: 0;
            text-align: left;
        }

        li {
            margin-bottom: 0.5rem;
        }
        @include desktop {
            padding-left: 25rem;
            flex-direction: column;
            justify-content: flex-end;
        }
    }
    &__bio {
        font-family: 'Outfit';
        @include font-style(1.125rem, 500, 1.4375rem);
        color: $color-black;
        text-align: left;

        ul {
            padding: 0;
            text-align: left;
        }

        li {
            margin-bottom: 0.5rem;
        }
        @include desktop {
            // padding-left: 10rem;
            flex-direction: column;
            justify-content: flex-end;
        }

    }

    &__socials {
        display: flex;
        gap: 1rem;
        color: $color-forest-green;
        text-align: left;

        &-icon img {
            width: 2rem;
            height: 2rem;
        }
    }

    &__copyright {
        font-family: 'Outfit';
        @include font-style(1.125rem, 500, 1.4375rem);
        color: $color-sea-green;
        margin-top: 2rem;
        text-align: left;
        width: 100%;

        span {
            margin: 0 0.5rem;
        }

        @include desktop {
            flex-direction: row;
            justify-content: flex-start;
            margin-top: 3rem;
        }
    }
}
